*.o
*~
xtrascreenhacks-0.5/archive
Makefile
configure.scan
config.h
config.log
config.status
aclocal.m4
autom4te.cache
autoscan.log
hacks/twinkle
hacks/daisy
hacks/glx/berlinuhr
hacks/glx/craters
hacks/glx/soma
hacks/glx/flyer
hacks/glx/skylark
hacks/glx/skylark
hacks/glx/psychedelic
hacks/glx/hhtree
